$background-color-1: #7BC6DC;
$background-color-2: #BDCADB;
$background-color-3: #141414;
$background-color-4: #242529;
$background-color-5: rgba(101, 104, 184, 1);

$color-1: #141414;
$color-2: #FFF;
$color-3: green;
$color-4: blue;

$disabled-color-grey: #aeafae;
$disabled-color-grey-border: #878988;
$vehicle-color-red: #9e1b32;
$vehicle-color-border-red: #8f1027;

$mid-grey: #f1f1f2;

$vehicle-color-red-hover: #141414;
$vehicle-color-border-red-hover: #9e1b32;